@import url("https://fonts.googleapis.com/css2?family=Klee+One:wght@400;600&family=M+PLUS+Rounded+1c:wght@400;500;700&family=Monomaniac+One&display=swap");
html,
body {
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
}

* {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hidable {
  transition-property: height, opacity;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}
.hidable.hidden {
  opacity: 0 !important;
  overflow: hidden !important;
  height: 0px !important;
  bottom: 0 !important;
}

.overlay {
  position: fixed;
  z-index: 9999;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.6666666667);
  width: 80vw;
  height: 80vh;
  border: #222 solid 5px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay .container {
  display: flex;
  flex-direction: column;
}
.overlay .container .header {
  font-weight: bold;
  text-align: center;
}
.overlay .container .splitter {
  height: 3px;
  width: 50vw;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #5599ee, rgba(0, 0, 0, 0));
  margin: 10px 0px;
}
.overlay .container .scrollable-v {
  overflow-y: scroll;
  height: 68vh;
  width: 100%;
}

.content {
  width: 100vw;
  height: 100vh;
  background-image: url(./Assets/Images/Background/246147.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.content .main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 97vh;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.3333333333);
}
.content .main .title {
  z-index: 2;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100vw;
  height: 93vh;
  padding: 2vh 0;
  background-image: url(./Assets/Images/Background/246147.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.content .main .title .logo {
  width: 100vw;
  height: 60vh;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content .main .title .logo img {
  min-height: 400px;
  height: 40vh;
  transform: rotateZ(-8deg);
}
.content .main .title .menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 10px;
  height: 300px;
}
.content .main .title .menu .btn {
  width: 27vw;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #aaa;
  border-bottom: #555 solid 15px;
  border-radius: 9999px;
  margin: 7px;
}
.content .main .title .menu .btn:not(.disabled):hover {
  background-color: #ff9900;
  border-color: #b50;
}
.content .main .title .menu .btn:not(.disabled):hover p {
  --shadow-color: #930;
}
.content .main .title .menu .btn.disabled {
  background-color: #666;
  border-bottom: #222 solid 15px;
}
.content .main .title .menu .btn.disabled p {
  color: #aaa;
  --shadow-color: #222;
}
.content .main .title .menu .btn p {
  color: #fff;
  font-size: 48px;
  font-family: "M PLUS Rounded 1p", sans-serif;
  font-weight: 700;
  --shadow-color: #333;
  text-shadow: 2px 2px 4px var(--shadow-color), -2px -2px 4px var(--shadow-color), -2px 2px 4px var(--shadow-color), 2px -2px 4px var(--shadow-color), 2px 0 4px var(--shadow-color), -2px 0 4px var(--shadow-color), 0 2px 4px var(--shadow-color), 0 -2px 4px var(--shadow-color);
  padding: 10px;
}
.content .main .label {
  font-family: "Monomaniac One", sans-serif;
  display: block;
  margin: 0;
  margin-bottom: 3px;
  font-size: 46px;
  text-shadow: 2px 2px 4px #f90, -2px -2px 4px #f90, -2px 2px 4px #f90, 2px -2px 4px #f90, 2px 0 4px #f90, -2px 0 4px #f90, 0 2px 4px #f90, 0 -2px 4px #f90;
  color: #fff;
}
.content .main .left-container {
  width: 23vw;
  margin: 0 2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.content .main .left-container > div {
  width: 23vw;
  margin: 3px 0;
  height: 42vh;
  padding: 5px;
  border: #ff9900 solid 5px;
  border-radius: 50px;
  background-color: #fed;
}
.content .main .left-container .upperLeft {
  display: flex;
  order: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 23vw;
}
.content .main .left-container .upperLeft .score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content .main .left-container .upperLeft .score .combo {
  height: 4vh;
  width: 23vw;
  padding-top: 5vh;
  text-align: center;
  font-family: "Monomaniac One", sans-serif;
  font-size: 32px;
  color: #fff;
  text-shadow: 2px 2px 4px #f90, -2px -2px 4px #f90, -2px 2px 4px #f90, 2px -2px 4px #f90, 2px 0 4px #f90, -2px 0 4px #f90, 0 2px 4px #f90, 0 -2px 4px #f90;
}
.content .main .left-container .upperLeft .score .combo p {
  transform: scale(1.2) rotateZ(-10deg);
}
.content .main .left-container .upperLeft .score .base {
  height: 18vh;
  width: 23vw;
  text-align: center;
  display: inline-flex;
  font-family: "M PLUS Rounded 1p", sans-serif;
  font-weight: 700;
  color: #fff;
  text-shadow: 2px 2px 4px #f90, -2px -2px 4px #f90, -2px 2px 4px #f90, 2px -2px 4px #f90, 2px 0 4px #f90, -2px 0 4px #f90, 0 2px 4px #f90, 0 -2px 4px #f90;
  font-size: 64px;
  justify-content: center;
}
.content .main .left-container .upperLeft .score .base > *:nth-last-child(3n) {
  margin-left: 10px;
}
.content .main .left-container .upperLeft .score .base .character {
  width: 63px;
  height: 127px;
  background-image: url(./Assets/Images/116025.png);
  background-size: 768px;
  background-position-x: -1px;
  background-position-y: -1px;
  background-clip: content-box;
  background-origin: content-box;
  background-repeat: no-repeat;
}
.content .main .left-container .upperLeft .score .base .character[data-num="0"] {
  background-position-x: -1px;
}
.content .main .left-container .upperLeft .score .base .character[data-num="1"] {
  background-position-x: -65px;
}
.content .main .left-container .upperLeft .score .base .character[data-num="2"] {
  background-position-x: -129px;
}
.content .main .left-container .upperLeft .score .base .character[data-num="3"] {
  background-position-x: -193px;
}
.content .main .left-container .upperLeft .score .base .character[data-num="4"] {
  background-position-x: -257px;
}
.content .main .left-container .upperLeft .score .base .character[data-num="5"] {
  background-position-x: -321px;
}
.content .main .left-container .upperLeft .score .base .character[data-num="6"] {
  background-position-x: -385px;
}
.content .main .left-container .upperLeft .score .base .character[data-num="7"] {
  background-position-x: -449px;
}
.content .main .left-container .upperLeft .score .base .character[data-num="8"] {
  background-position-x: -513px;
}
.content .main .left-container .upperLeft .score .base .character[data-num="9"] {
  background-position-x: -577px;
}
.content .main .left-container .bottomLeft {
  display: flex;
  order: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 23vw;
  opacity: 0;
}
.content .main .container {
  width: 48vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content .main .container .message {
  width: 48vw;
}
.content .main .container canvas {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.content .main .right-container {
  margin: 0 2vw;
  width: 23vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content .main .right-container > div {
  margin: 3px 0;
  height: 42vh;
  padding: 5px;
  border: #ff9900 solid 5px;
  border-radius: 50px;
  background-color: #fed;
}
.content .main .right-container .next {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 23vw;
}
.content .main .right-container .next img {
  display: block;
  width: 18vw;
  height: 40vh;
}
.content .main .right-container .ring {
  width: 23vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
}
.content .main .right-container .ring img {
  display: block;
  width: 18vw;
}
.content .main .right-container .ring .flextable {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 24vw;
  height: 44vh;
}
.content .main .right-container .ring .flextable .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 24vw;
  height: 10vh;
}
.content .main .right-container .ring .flextable .row .cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6vw;
}
.content .main .right-container .ring .flextable .row .cell img {
  width: 4vw;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98vw;
  padding: 0.5vh 1vw;
  height: 2vh;
  background-color: #222;
}
.footer .left .credit {
  color: #5599ee;
}
.footer .right {
  width: 12vw;
  display: flex;
  justify-content: center;
}
.footer .right *:not(:last-child) {
  margin-right: 5px;
}
.footer .right svg {
  max-width: 24px;
  max-height: 24px;
  color: #fff;
}

.message {
  position: absolute;
  display: none;
  text-align: center;
  top: 200px;
  width: 100%;
  z-index: 4;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0 0 30px;
}

.message p {
  margin: 0px;
}

.mainText {
  font-size: 64px;
  color: #f00;
}

.subText {
  font-size: 32px;
  color: #000;
}

.button {
  width: 150px;
  height: 40px;
  font-size: 24px;
}/*# sourceMappingURL=index.css.map */