@import url("https://fonts.googleapis.com/css2?family=Klee+One:wght@400;600&family=M+PLUS+Rounded+1c:wght@400;500;700&family=Monomaniac+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Stick&display=swap");
@import url("https://unpkg.com/open-props/gradients.min.css");
@keyframes slide-out-up {
  to {
    transform: translateY(-100%);
  }
}
@keyframes slide-in-down {
  from {
    transform: translateY(-100%);
  }
}
:root {
  --animation-slide-out-up: slide-out-up 0.5s cubic-bezier(0.25, 0, 0.3, 1);
  --animation-slide-in-down: slide-in-down 0.5s cubic-bezier(0.25, 0, 0.3, 1);
  --font-heading: "Stick", sans-serif;
  --font-primary: "M PLUS Rounded 1p", sans-serif;
}

html,
body {
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
  background-color: #000;
}

* {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-content: center;
}

.margin {
  background: var(--noise-5), var(--gradient-1);
  filter: blur(1px);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  position: fixed;
}

.content {
  display: grid;
  grid-template-rows: 97fr 3fr;
  justify-content: center;
  align-content: center;
  position: relative;
  height: 1050px;
  width: 1680px;
}

.hidable {
  transition-property: height, opacity;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}
.hidable.hidden {
  opacity: 0 !important;
  overflow: hidden !important;
  height: 0px !important;
  bottom: 0 !important;
}

.overlay {
  grid-row: 1/3;
  position: fixed;
  z-index: 9999;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.6666666667);
  width: 80%;
  height: 80%;
  border: #222 solid 5px;
  border-radius: 50px;
  display: flex;
  justify-self: center;
  align-self: center;
  justify-content: center;
}
.overlay .container {
  display: flex;
  flex-direction: column;
}
.overlay .container .header {
  font-weight: bold;
  text-align: center;
}
.overlay .container .splitter {
  height: 3px;
  width: 50vw;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #5599ee, rgba(0, 0, 0, 0));
  margin: 10px 0px;
}
.overlay .container .scrollable-v {
  overflow-y: scroll;
  height: 68vh;
  width: 100%;
}

.main {
  background-image: url(./Assets/Images/Background/246147.jpg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  grid-row: 1/2;
  width: 1680px;
  height: 1050px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.3333333333);
}
.main .title {
  z-index: 2;
  position: absolute;
  display: grid;
  grid-template-rows: 6fr 2fr 2fr;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  top: 0;
  width: 1680px;
  height: 1050px;
  background-image: url(./Assets/Images/Background/246147.jpg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  gap: 10px;
}
.main .title .logo {
  grid-column: 1/5;
  grid-row: 1/2;
  background: no-repeat center/contain url(./Assets/Images/113652.png.webp);
  transform: scale(0.8) rotateZ(-8deg);
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .title .btn {
  width: 100%;
  box-sizing: border-box;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #aaa;
  border-bottom: #555 solid 15px;
  border-radius: 9999px;
}
.main .title .btn:not(.disabled):hover {
  background-color: #ff9900;
  border-color: #b50;
}
.main .title .btn:not(.disabled):hover p {
  --shadow-color: #930;
}
.main .title .btn.disabled {
  background-color: #666;
  border-bottom: #222 solid 15px;
}
.main .title .btn.disabled p {
  color: #aaa;
  --shadow-color: #222;
}
.main .title .btn p {
  color: #fff;
  font-size: 2.5em;
  font-family: var(--font-primary);
  font-weight: 700;
  --shadow-color: #333;
  text-shadow: 2px 2px 4px var(--shadow-color), -2px -2px 4px var(--shadow-color), -2px 2px 4px var(--shadow-color), 2px -2px 4px var(--shadow-color), 2px 0 4px var(--shadow-color), -2px 0 4px var(--shadow-color), 0 2px 4px var(--shadow-color), 0 -2px 4px var(--shadow-color);
  padding: 10px;
  text-wrap: nowrap;
}
.main .title .btn.start {
  grid-column: 2/3;
  grid-row: 2/3;
  align-self: end;
  justify-self: end;
}
.main .title .btn.rank {
  grid-column: 3/4;
  grid-row: 2/3;
  align-self: end;
  justify-self: start;
}
.main .title .btn.achievement {
  grid-column: 2/3;
  grid-row: 3/4;
  align-self: start;
  justify-self: end;
}
.main .title .btn.setting {
  grid-column: 3/4;
  grid-row: 3/4;
  align-self: start;
  justify-self: start;
}
.main .label {
  grid-row: 1/2;
  font-family: var(--font-heading);
  display: block;
  margin: 0;
  font-size: 38px;
  text-shadow: 2px 2px 4px #f90, -2px -2px 4px #f90, -2px 2px 4px #f90, 2px -2px 4px #f90, 2px 0 4px #f90, -2px 0 4px #f90, 0 2px 4px #f90, 0 -2px 4px #f90;
  color: #fff;
}
.main > .game {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
  width: 1646.4px;
  height: 924px;
  margin: auto;
}
.main > .game > div:not(.container):not(.hidable) {
  padding: 5px;
  border: #ff9900 solid 5px;
  border-radius: 50px;
  background-color: #fff8f5;
  display: grid;
  grid-template-rows: 2fr 8fr;
  justify-items: center;
  align-items: center;
  box-sizing: border-box;
}
.main > .game .upperLeft {
  grid-row: 1/2;
  grid-column: 1/2;
}
.main > .game .upperLeft .score {
  grid-row: 2/3;
  display: grid;
  grid-template-rows: 3fr 1fr;
  justify-items: center;
  height: 100%;
}
.main > .game .upperLeft .score .base {
  text-align: center;
  display: block;
  font-family: var(--font-primary);
  font-weight: 700;
  color: #fff;
  text-shadow: 2px 2px 4px #f90, -2px -2px 4px #f90, -2px 2px 4px #f90, 2px -2px 4px #f90, 2px 0 4px #f90, -2px 0 4px #f90, 0 2px 4px #f90, 0 -2px 4px #f90;
  font-size: 64px;
  justify-content: center;
  align-self: center;
}
.main > .game .upperLeft .score .base p {
  margin: 0;
}
.main > .game .upperLeft .score .base .character {
  width: 63px;
  height: 127px;
  background-image: url(./Assets/Images/116025.png.webp);
  background-size: 768px;
  background-position-x: -1px;
  background-position-y: -1px;
  background-clip: content-box;
  background-origin: content-box;
  background-repeat: no-repeat;
}
.main > .game .upperLeft .score .base .character[data-num="0"] {
  background-position-x: -1px;
}
.main > .game .upperLeft .score .base .character[data-num="1"] {
  background-position-x: -65px;
}
.main > .game .upperLeft .score .base .character[data-num="2"] {
  background-position-x: -129px;
}
.main > .game .upperLeft .score .base .character[data-num="3"] {
  background-position-x: -193px;
}
.main > .game .upperLeft .score .base .character[data-num="4"] {
  background-position-x: -257px;
}
.main > .game .upperLeft .score .base .character[data-num="5"] {
  background-position-x: -321px;
}
.main > .game .upperLeft .score .base .character[data-num="6"] {
  background-position-x: -385px;
}
.main > .game .upperLeft .score .base .character[data-num="7"] {
  background-position-x: -449px;
}
.main > .game .upperLeft .score .base .character[data-num="8"] {
  background-position-x: -513px;
}
.main > .game .upperLeft .score .base .character[data-num="9"] {
  background-position-x: -577px;
}
.main > .game .upperLeft .score .combo {
  align-self: center;
  text-align: center;
  font-family: var(--font-heading);
  font-size: 32px;
  color: #fff;
  text-shadow: 2px 2px 4px #f90, -2px -2px 4px #f90, -2px 2px 4px #f90, 2px -2px 4px #f90, 2px 0 4px #f90, -2px 0 4px #f90, 0 2px 4px #f90, 0 -2px 4px #f90;
}
.main > .game .upperLeft .score .combo p {
  margin: 0;
  transform: scale(1.2) rotateZ(-10deg);
}
.main > .game .bottomLeft {
  grid-row: 2/3;
  grid-column: 1/2;
  opacity: 1;
}
.main > .game .bottomLeft .rankingTable {
  display: grid;
  margin: 3px;
  width: calc(100% - 6px);
  height: 100%;
  grid-template-columns: 1fr 3fr 2fr;
  grid-template-rows: 2fr 4px 2fr 4px 2fr;
  align-items: center;
  gap: 4px;
}
.main > .game .bottomLeft .rankingTable > p {
  margin: 0;
}
.main > .game .bottomLeft .rankingTable .divider {
  grid-column: 1/4;
  justify-self: center;
  width: 90%;
  height: 5px;
  background-color: #fff;
  box-shadow: 2px 2px 4px #f90, -2px -2px 4px #f90, -2px 2px 4px #f90, 2px -2px 4px #f90, 2px 0 4px #f90, -2px 0 4px #f90, 0 2px 4px #f90, 0 -2px 4px #f90;
  border-radius: 50px;
}
.main > .game .bottomLeft .rankingTable .rank {
  grid-column: 1/2;
  justify-self: center;
  color: #fff;
  font-weight: 700;
  font-family: var(--font-heading);
  font-size: 38px;
  line-height: 38px;
}
.main > .game .bottomLeft .rankingTable .rank.first, .main > .game .bottomLeft .rankingTable .rank[data-rank="1"] {
  text-shadow: 2px 2px 4px gold, -2px -2px 4px gold, -2px 2px 4px gold, 2px -2px 4px gold, 2px 0 4px gold, -2px 0 4px gold, 0 2px 4px gold, 0 -2px 4px gold;
}
.main > .game .bottomLeft .rankingTable .rank.second, .main > .game .bottomLeft .rankingTable .rank[data-rank="2"] {
  text-shadow: 2px 2px 4px silver, -2px -2px 4px silver, -2px 2px 4px silver, 2px -2px 4px silver, 2px 0 4px silver, -2px 0 4px silver, 0 2px 4px silver, 0 -2px 4px silver;
}
.main > .game .bottomLeft .rankingTable .rank.third, .main > .game .bottomLeft .rankingTable .rank[data-rank="3"] {
  text-shadow: 2px 2px 4px #ac6b25, -2px -2px 4px #ac6b25, -2px 2px 4px #ac6b25, 2px -2px 4px #ac6b25, 2px 0 4px #ac6b25, -2px 0 4px #ac6b25, 0 2px 4px #ac6b25, 0 -2px 4px #ac6b25;
}
.main > .game .bottomLeft .rankingTable .rankDiv {
  grid-column: 1/4;
  justify-self: center;
  border-radius: 50px;
  width: 80%;
  height: 1px;
  background-color: #d5c3b5;
}
.main > .game .bottomLeft .rankingTable .name {
  grid-column: 2/3;
  justify-self: start;
  font-family: var(--font-primary);
  text-shadow: 2px 2px 4px #f90, -2px -2px 4px #f90, -2px 2px 4px #f90, 2px -2px 4px #f90, 2px 0 4px #f90, -2px 0 4px #f90, 0 2px 4px #f90, 0 -2px 4px #f90;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  text-wrap: nowrap;
}
.main > .game .bottomLeft .rankingTable .score {
  grid-column: 3/4;
  justify-self: end;
  font-family: var(--font-primary);
  text-shadow: 2px 2px 4px #f90, -2px -2px 4px #f90, -2px 2px 4px #f90, 2px -2px 4px #f90, 2px 0 4px #f90, -2px 0 4px #f90, 0 2px 4px #f90, 0 -2px 4px #f90;
  color: #fff;
  font-size: 26px;
  font-weight: 700;
}
.main > .game .container {
  grid-row: 1/3;
  grid-column: 2/3;
  width: 100%;
  justify-self: center;
  display: grid;
  justify-items: center;
  align-items: center;
}
.main > .game .container .message {
  width: 100%;
}
.main > .game .container canvas {
  justify-self: center;
  align-self: center;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.main > .game .next {
  grid-row: 1/2;
  grid-column: 3/4;
}
.main > .game .next > .image {
  background: no-repeat center/contain url(./Assets/Images/Character/0610.png.webp);
  width: 100%;
  height: 100%;
}
.main > .game .ring {
  grid-row: 2/3;
  grid-column: 3/4;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  background-color: transparent;
}
.main > .game .ring > .image {
  background: no-repeat center/contain url("./Assets/Images/115411.png.webp");
  width: 90%;
  height: 100%;
}

.footer {
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  width: 98%;
  padding: 0 1%;
  height: 100%;
  background-color: #222;
}
.footer .left {
  grid-column: 1/2;
}
.footer .left .credit {
  color: #5599ee;
}
.footer .right {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  justify-self: end;
  justify-items: center;
}
.footer .right svg {
  max-width: 24px;
  max-height: 24px;
  color: #fff;
}

.message {
  position: absolute;
  display: none;
  text-align: center;
  top: 200px;
  width: 100%;
  z-index: 4;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0 0 30px;
}

.message p {
  margin: 0px;
}

.mainText {
  font-size: 64px;
  color: #f00;
}

.subText {
  font-size: 32px;
  color: #000;
}

.button {
  width: 150px;
  height: 40px;
  font-size: 24px;
}/*# sourceMappingURL=index.css.map */