@import url("https://fonts.googleapis.com/css2?family=Monomaniac+One&display=swap");
html,
body {
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.overlay {
  position: fixed;
  z-index: 9999;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.6666666667);
  width: 80vw;
  height: 80vh;
  border: #222 solid 5px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: height, opacity;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}
.overlay.hidden {
  opacity: 0;
  overflow: hidden;
  height: 0px;
  bottom: 0;
}
.overlay .container {
  display: flex;
  flex-direction: column;
}
.overlay .container .header {
  font-weight: bold;
  text-align: center;
}
.overlay .container .splitter {
  height: 3px;
  width: 50vw;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #5599ee, rgba(0, 0, 0, 0));
  margin: 10px 0px;
}
.overlay .container .scrollable-v {
  overflow-y: scroll;
  height: 68vh;
  width: 100%;
}

.content {
  width: 100vw;
  height: 100vh;
  background-image: url(./Assets/Images/Background/246147.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.content .main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 97vh;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.2);
}
.content .main .left-container {
  width: 24vw;
  margin: 0 1vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.content .main .container {
  width: 48vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content .main .container .message {
  position: absolute;
  width: 48vw;
}
.content .main .right-container {
  padding: 0 1vw;
  width: 24vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content .main .right-container .next {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 24vw;
  height: 46vh;
}
.content .main .right-container .next .label {
  font-family: "Monomaniac One", sans-serif;
  display: block;
  height: 2vh;
  font-size: 46px;
}
.content .main .right-container .next img {
  display: block;
  width: 24vw;
  height: 44vh;
}
.content .main .right-container .ring {
  width: 24vw;
  height: 46vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content .main .right-container .ring .label {
  font-family: "Monomaniac One", sans-serif;
  font-size: 46px;
  height: 2vh;
}
.content .main .right-container .ring .flextable {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 24vw;
  height: 44vh;
}
.content .main .right-container .ring .flextable .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 24vw;
  height: 10vh;
}
.content .main .right-container .ring .flextable .row .cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6vw;
}
.content .main .right-container .ring .flextable .row .cell img {
  width: 4vw;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98vw;
  padding: 0.5vh 1vw;
  height: 2vh;
  background-color: #222;
}
.footer .left .credit {
  color: #5599ee;
}
.footer .right {
  width: 12vw;
  display: flex;
  justify-content: center;
}
.footer .right *:not(:last-child) {
  margin-right: 5px;
}
.footer .right svg {
  color: #fff;
}

.message {
  position: absolute;
  display: none;
  text-align: center;
  top: 200px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0 0 30px;
}

.message p {
  margin: 0px;
}

.mainText {
  font-size: 64px;
  color: #f00;
}

.subText {
  font-size: 32px;
  color: #000;
}

.button {
  width: 150px;
  height: 40px;
  font-size: 24px;
}/*# sourceMappingURL=index.css.map */